server.encoding = utf-8
ontologiesApiURI=http://myrestapi.mybioportalinstance.org
#deploymentRoot=ncbobioportal # For the second deployment option, please specify the name of the subpath where you want to deploy
